snippet o "Description"
||
endsnippet

snippet a "Description"
&&
endsnippet

snippet tilde "~"
~
endsnippet

snippet 2p "" Ai
($1)
endsnippet 


snippet 2s "" Ai
[$1]
endsnippet 

snippet 2b "" Ai
[$1]
endsnippet 

snippet 3b "" Ai
([$1])
endsnippet 

snippet 3s "" Ai
([$1])
endsnippet 


snippet 2q "" Ai
\`$1\`
endsnippet 

snippet 3q "" Ai
(\`$1\`)
endsnippet 

snippet 2c "" Ai
{$1}
endsnippet 

snippet 3c "" Ai
({$1})
endsnippet

snippet 2k "backticksc" Ai
\`$1\`
endsnippet
